
.sectionComentarios{
    
    background-color: #fab7f1;
    margin-bottom: 0px;
    height: 600px;
}
.mainComentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.principalComentarios{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 96px;
    margin-right: 96px;
    border-radius: 35px;
    border: 5px solid white;
    box-shadow: 0 0 50px #21aabc ;  
    font-size: 50px;
    text-shadow: 0 0 50px #21aabc ,0 0 50px #21aabc,0 0 50px #21aabc;
    font-weight: bold;
    

}
.comentario {
    padding-top: 50px;
    min-width: 100px;
    min-height: 100px;
    padding-right: 50%;
}
.botonEnviar{
    display: flex;
   position: relative; right: 5%;
    padding: 10px;
}
.imagenSeparador{
    object-fit: fill;
    margin: 0px;
    width: 1000;
    height: 500px;
    padding: 30px;
}
.tarjetaComentarios{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding-top: 100px;
    min-width: 100px;
    min-height: 100px;
}
