
.mainUs{
    background-color: whitesmoke;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagenPersonal{
    width: 600px;
    height: 600px;
}
.parrafoUs{
    display: flex;
    margin: 30px;
    padding: 40px;
}
