


.modeloTitulo{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    min-height: 100px;
    font-size: 20px;}

.modeloTarjeta {

  background-image: linear-gradient(to left,#21aabc ,pink);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-repeat: no-repeat;
    margin: 96px;  
    gap: 20px;
    text-align: justify;
}
.modeloImagen{
    display: flex;
    flex-direction: row;    
    align-self: flex-start;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}
.modeloLista{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow: hidden;
}
